<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.menu.dao.PortalMenuMapper">

    <select id="selectMenuByPage" resultType="com.blog.core.system.menu.vo.PortalMenuVO">
        SELECT
            menu_id  menuId,
            parent_id  parentId,
            menu_name  menuName,
            web_code  webCode,
            menu_url  menuUrl,
            icon  icon,
            menu_sort  menuSort,
            menu_type  menuType,
            create_time  createTime
        FROM
            portal_menu
        ORDER BY menu_sort
    </select>

    <select id="selectMenuByMenuId" parameterType="java.lang.String" resultType="com.blog.core.system.menu.vo.PortalMenuVO">
        SELECT
            menu_id  menuId,
            parent_id  parentId,
            menu_name  menuName,
            web_code  webCode,
            menu_url  menuUrl,
            icon  icon,
            menu_sort  menuSort,
            menu_type  menuType,
            create_time  createTime
        FROM
            portal_menu
        WHERE
           menu_id = #{menuId}
    </select>

    <select id="selectMenuByRoleId" parameterType="java.lang.String" resultType="com.blog.core.system.menu.vo.PortalMenuVO">
        SELECT
            menu.menu_id  menuId,
            menu.parent_id  parentId,
            menu.menu_name  menuName,
            menu.web_code  webCode,
            menu.menu_url  menuUrl,
            menu.icon  icon,
            menu.menu_sort  menuSort,
            menu.menu_type  menuType,
            menu.create_time  createTime
        FROM
            portal_menu  menu
            LEFT JOIN portal_role_menu  roleMenu ON menu.menu_Id = roleMenu.menu_Id
        WHERE
	        roleMenu.role_id = #{roleId}
    </select>

    <select id="selectMenuList" parameterType="java.lang.String" resultType="com.blog.core.system.menu.vo.PortalMenuVO">
        SELECT
            menu.menu_id  menuId,
            menu.parent_id  parentId,
            menu.menu_name  menuName,
            menu.web_code  webCode,
            menu.menu_url  menuUrl,
            menu.icon  icon,
            menu.menu_sort  menuSort,
            menu.menu_type  menuType,
            menu.create_time  createTime
        FROM
            portal_menu  menu
    </select>

    <select id="selectUserMenuByUserId" parameterType="java.lang.String" resultType="com.blog.core.system.menu.vo.PortalMenuVO">
        SELECT
            menu.menu_id  menuId,
            menu.parent_id  parentId,
            menu.menu_name  menuName,
            menu.web_code  webCode,
            menu.menu_url  menuUrl,
            menu.icon  icon,
            menu.menu_sort  menuSort,
            menu.menu_type  menuType,
            menu.create_time  createTime
        FROM
            portal_menu  menu
            LEFT JOIN portal_role_menu  roleMenu ON menu.menu_id = roleMenu.menu_id
            LEFT JOIN portal_role  role ON role.role_id = roleMenu.role_id
            LEFT JOIN portal_user_role  userRole ON userRole.role_id = role.role_id
        WHERE
            userRole.user_id = #{userId}
    </select>
</mapper>
