<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.role.dao.PortalRoleMapper">

    <select id="selectRoleByPage" resultType="com.blog.core.system.role.entity.vo.PortalRoleVO">
        select
            id,
            role_name,
            role_describe,
            role_code,
            is_enable,
            create_time,
            update_time,
            create_id,
            update_id
        from sys_base_role
        <where>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName}
            </if>
        </where>
    </select>

    <select id="selectRoleByRoleId" parameterType="java.lang.String" resultType="com.blog.core.system.role.entity.vo.PortalRoleVO">
        SELECT
            id,
            role_name,
            role_describe,
            role_code,
            is_enable,
            create_time
        FROM
            sys_base_role
        WHERE
            id = #{roleId}
    </select>

    <insert id="addRole" useGeneratedKeys="true" keyProperty="id" parameterType="com.blog.core.system.role.entity.domain.PortalRole">
        INSERT INTO sys_base_role (
            id,
            role_name,
            role_describe,
            role_code,
            is_enable,
            create_id,
            create_time
        ) VALUES (
            #{id},
            #{roleName},
            #{roleDescribe},
            #{roleCode},
            #{isEnable.value},
            #{createId},
            #{createTime}
        )
    </insert>

    <update id="editRole" parameterType="com.blog.core.system.role.entity.domain.PortalRole">
        UPDATE
            sys_base_role
        SET
            role_name = #{roleName},
            role_describe = #{roleDescribe},
            update_id = #{updateId},
            update_time = #{updateTime}
        WHERE
            id = #{id}
    </update>

    <delete id="deleteRole" parameterType="java.lang.String">
        DELETE FROM
            sys_base_role
        WHERE
            id = #{roleId}
    </delete>

    <update id="enableRole" parameterType="java.lang.String">
        UPDATE
            sys_base_role
        SET
            is_enable = '1'
        WHERE
            id = #{roleId}
    </update>

    <update id="disabledRole" parameterType="java.lang.String">
        UPDATE
            sys_base_role
        SET
            is_enable = '0'
        WHERE
            id = #{roleId}
    </update>

    <insert id="addUserRole" parameterType="com.blog.core.system.role.entity.domain.PortalUserRole">
        INSERT
            sys_base_user_role
        (
            id,
            role_id,
            user_id,
            create_id,
            create_time
        )
         VALUES
         (
            #{id},
            #{roleId},
            #{userId},
            #{createId},
            #{createTime}
         )
    </insert>

    <select id="selectRoleByUserId" resultType="com.blog.core.system.role.entity.vo.PortalRoleVO">
         SELECT
            role.id AS id,
            role.role_name AS roleName,
            role.role_describe AS roleDescribe,
            role.role_code AS roleCode,
            role.is_enable AS isEnable,
            role.create_time AS createTime
        FROM
            sys_base_role AS role
            LEFT JOIN sys_base_user_role AS userRole ON userRole.role_id = role.id
        <where>
            <if test="userId != null and userId !=''">
                userRole.user_id = #{userId}
            </if>
        </where>
    </select>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_base_role (
            `id`,
            `role_name`,
            `describe`,
            `status`,
            `create_time`,
            `update_time`,
            `create_id`,
            `update_id`
        ) VALUES (
            #{pojo.id},
            #{pojo.roleName},
            #{pojo.describe},
            #{pojo.status},
            #{pojo.createTime},
            #{pojo.updateTime},
            #{pojo.createId},
            #{pojo.updateId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_base_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.roleName!=null"> `role_name`,</if>
            <if test="pojo.describe!=null"> `describe`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.updateTime!=null"> `update_time`,</if>
            <if test="pojo.createId!=null"> `create_id`,</if>
            <if test="pojo.updateId!=null"> `update_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.roleName!=null">#{pojo.roleName},</if>
            <if test="pojo.describe!=null">#{pojo.describe},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
            <if test="pojo.createId!=null">#{pojo.createId},</if>
            <if test="pojo.updateId!=null">#{pojo.updateId},</if>
        </trim>
    </insert>

    <!--&lt;!&ndash;auto generated Code&ndash;&gt;-->
    <!--<insert id="insertList">-->
        <!--INSERT INTO sys_base_role (-->
        <!--<include refid="all_column"/>-->
        <!--)VALUES-->
        <!--<foreach collection="pojos" item="pojo" index="index" separator=",">-->
            <!--(-->
            <!--#{pojo.id},-->
            <!--#{pojo.roleName},-->
            <!--#{pojo.describe},-->
            <!--#{pojo.status},-->
            <!--#{pojo.createTime},-->
            <!--#{pojo.updateTime},-->
            <!--#{pojo.createId},-->
            <!--#{pojo.updateId}-->
            <!--)-->
        <!--</foreach>-->
    <!--</insert>-->

    <!--auto generated Code-->
    <update id="update">
        UPDATE sys_base_role
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.roleName != null"> `role_name` = #{pojo.roleName}, </if>
            <if test="pojo.describe != null"> `describe` = #{pojo.describe}, </if>
            <if test="pojo.status != null"> `status` = #{pojo.status}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.updateTime != null"> `update_time` = #{pojo.updateTime}, </if>
            <if test="pojo.createId != null"> `create_id` = #{pojo.createId}, </if>
            <if test="pojo.updateId != null"> `update_id` = #{pojo.updateId} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
</mapper>
