<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.core.system.role.dao.PortalUserRoleMapper">

    <select id="selectUserRoleByUserId" parameterType="java.lang.Integer" resultType="com.blog.core.system.role.entity.PortalUserRole">
        SELECT
            id,
            role_id,
            user_id
        FROM
            portal_user_role
        WHERE
            user_id = #{userId}
    </select>

    <insert id="insertUserRole" parameterType="com.blog.core.system.role.entity.PortalUserRole">
        INSERT INTO portal_user_role
        (role_id, user_id, create_id,create_time)
        VALUES
        (roleId, userId, createId, createTime)
    </insert>

    <delete id="deleteUserRoleByUserId" parameterType="java.lang.Integer">
        DELETE FROM portal_user_role WHERE user_id = #{userId}
    </delete>
</mapper>
