<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.article.dao.PortalArticleInfoMapper">

    <select id="selectPortalArticleInfoDetails" parameterType="java.lang.String"
            resultType="com.blog.core.article.vo.PortalArticleInfoVO">
        SELECT
            article_id articleId,
            approve_number approvesNumber,
            comments_number commentsNumber,
            like_number likeNumber,
            read_number readNumber
        FROM
            portal_article_info
        WHERE
            article_id = #{articleId}
    </select>

    <update id="updateArticleCommentNumber">
        UPDATE
            portal_article_info
        SET
            comments_number = comments_number + 1
        WHERE
            article_id = #{articleId}
    </update>
</mapper>
