<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.article.dao.ManageArticleMapper">

    <select id="selectManageArticleByPage" resultType="com.blog.core.article.vo.ManageArticleListVO">
        SELECT
            article.article_id articleId,
            article.article_title  articleTitle,
            article.article_release_date  articleReleaseDate,
            article.article_content_html  articleContentHtml,
            article.article_content_markdown  articleContentMarkDown,
            article.article_user_id  articleUserId,
            article.article_images  articleImages,
            article.article_type  articleType,
            article.article_status  articleStatus,
            article.article_release_status  articleReleaseStatus,
            article.article_comment_status  articleCommentsStatus,
            article.article_top_status  articleTopStatus,
            article.article_fine_note_status  articleFineNoteStatus,
            article.approves_number  approvesNumber,
            article.like_number  likeNumber,
            article.read_number  readNumber,
            article.comments_number commentsNumber,
            CASE
            WHEN user.nick_name IS NOT NULL THEN
                user.nick_name
            ELSE
                user.user_name
            END  articleAuthor,
            user.avatar articleAuthorImage
        FROM
            manage_article article
        LEFT JOIN manage_user user ON article.article_user_id = user.user_id
    </select>

    <select id="selectManageArticleByArticleId" parameterType="java.lang.String"
            resultType="com.blog.core.article.vo.ManageArticleVO">
         SELECT
            article.article_id articleId,
            article.article_title  articleTitle,
            article.article_release_date  articleReleaseDate,
            article.article_content_html  articleContentHtml,
            article.article_content_markdown  articleContentMarkDown,
            article.article_user_id  articleUserId,
            article.article_images  articleImages,
            article.article_type  articleType,
            article.article_status  articleStatus,
            article.article_release_status  articleReleaseStatus,
            article.article_comment_status  articleCommentsStatus,
            article.article_top_status  articleTopStatus,
            article.article_fine_note_status  articleFineNoteStatus,
            article.approves_number  approvesNumber,
            article.like_number  likeNumber,
            article.read_number  readNumber,
            article.comments_number commentsNumber
        FROM
            manage_article article
        WHERE article.article_id = #{articleId}
    </select>

    <update id="checkArticle" parameterType="com.blog.core.article.entity.ManageArticle">
        UPDATE manage_article
        SET article_status = #{articleStatus},
        relee_status = #{releeStatus},
        relee_date = #{releeDate}
        WHERE id = #{articleId}
    </update>

</mapper>
