<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.article.dao.ManageArticleMapper">

    <select id="selectArticleByPage" resultType="com.blog.core.article.entity.vo.ManageArticleInfoVO">
        SELECT
            article.id articleId,
            article.article_title AS articleTitle,
            article.release_date AS releaseDate,
            article.article_content AS articleContent,
            article.article_user_id AS articleUserId,
            article.article_status AS articleStatus,
            article.release_status AS releaseStatus,
            article.tag_id AS tagId,
            article.article_images AS articleImages,
            article.approves AS approves,
            article.comment_status AS commentStatus,
            article.like_number AS likeNumber,
            article.read_number AS readNumber,
            article.article_type AS articleType,
            article.article_top AS articleTop,
            article.article_fine_note AS articleFineNote,
            article.article_user_id AS articleUserId,
            article.recommend_status AS recommendStatus,
            CASE
            WHEN user.nick_name IS NOT NULL THEN
                user.nick_name
            ELSE
                user.user_name
            END AS articleAuthor,
            user.avatar AS articleAuthorImage
        FROM
            manage_article article
        LEFT JOIN portal_user AS user ON article.article_user_id = user .id
        WHERE
          article.is_enable = '1'
          AND article.release_status = '1'
    </select>

    <select id="selectArticleByArticleId" resultType="com.blog.core.article.entity.vo.ManageArticleInfoVO" parameterType="java.lang.String">
         SELECT
            article.id,
            article.article_title AS articleTitle,
            article.release_date AS releaseDate,
            article.article_content AS articleContent,
            article.tag_id AS tagId,
            article.article_images AS articleImages,
            article.approves AS approves,
            article.comments AS comments,
            article.like_number AS likeNumber,
            article.read_number AS readNumber,
            article.article_type AS articleType,
            article.article_top AS articleTop,
            article.comment_status AS commentStatus,
            article.article_fine_note AS articleFineNote,
            CASE
            WHEN USER .nick_name IS NOT NULL THEN
                USER .nick_name
            ELSE
                user_name
            END AS articleAuthor,
            user.avatar AS articleAuthorImage
        FROM
            portal_article article
            LEFT JOIN portal_user user ON article.article_user_id = user.id
        WHERE article.id = #{id}
    </select>

    <update id="checkArticle" parameterType="com.blog.core.article.entity.domain.ManageArticle">
        UPDATE portal_article
        SET article_status = #{articleStatus},
        release_status = #{releaseStatus},
        release_date = #{releaseDate}
        WHERE id = #{articleId}
    </update>

</mapper>
