<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.tag.dao.PortalTagMapper">

    <select id="selectTagByPage" resultType="com.blog.core.tag.vo.PortalTagVO" parameterType="com.blog.core.tag.dto.PortalTagQueryDTO">
        SELECT
        id,
        tag_name tagName,
        tag_category_id,
        create_time createTime
        FROM
        portal_tag
        <where>
            <if test="tagName != null and tagName != ''">
                tag_name = #{tagName}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectTagByArticleId" parameterType="java.lang.String" resultType="com.blog.core.tag.vo.PortalTagVO">
        SELECT
            tag.tag_id,
            tag.tag_name tagName,
            tag.tag_category_id,
            tag.create_time createTime
        FROM
            portal_tag tag
            LEFT JOIN portal_article_tag sbat ON tag.tag_id = sbat.tag_id
            LEFT JOIN portal_article pa ON pa.article_id = sbat.article_id
        WHERE pa.article_id = #{articleId}
        ORDER BY tag.create_time DESC
    </select>
</mapper>
