<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.dict.dao.ManageDictDataMapper">

    <select id="selectManageDictDataDetails" parameterType="java.lang.String" resultType="com.blog.core.system.dict.vo.ManageDictDataVO">
        SELECT
            dict_data_id dictDataId,
            dict_id dictId,
            name,
            value,
            sort,
            create_id createName,
            create_time createDate
        FROM
            manage_dict_data
        WHERE
            dict_id = #{dictId}
        ORDER BY sort DESC
    </select>

    <select id="selectManageDictDataByFieldType" parameterType="java.lang.String" resultType="com.blog.core.system.dict.vo.ManageDictDataVO">
        SELECT
            mdd.dict_data_id dictDataId,
            mdd.dict_id dictId,
            mdd.name,
            mdd.value,
            mdd.sort
        FROM
            manage_dict md
            LEFT JOIN manage_dict_data mdd ON md.dict_id = mdd.dict_id
        WHERE
            md.field_type = #{fieldType}
        ORDER BY mdd.sort DESC
    </select>

    <delete id="deleteManageDictData" parameterType="java.lang.String">
        DELETE FROM manage_dict_data WHERE dict_data_id = #{dictDataId}
    </delete>
</mapper>
