<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.menu.dao.MenuMapper">

    <select id="selectMenuAll" resultType="com.blog.core.system.menu.vo.MenuListVO">
        SELECT
            menu_id  menuId,
            parent_id  parentId,
            name  name,
            component  component,
            icon  icon,
            sort  sort,
            type  type,
            permission  permission
        FROM
            sys_menu
    </select>


    <select id="selectBuildMenuList" resultType="com.blog.core.system.menu.vo.MenuListVO">
        SELECT
            menu_id  menuId,
            parent_id  parentId,
            name  name,
            component  component,
            icon  icon,
            sort  sort,
            type  type,
            permission  permission
        FROM
            sys_menu
        WHERE
            type not in ('2')
    </select>

    <select id="selectUserMenuByUserId" parameterType="java.lang.Integer"
            resultType="com.blog.core.system.menu.vo.MenuListVO">
        SELECT
            sm.menu_id  menuId,
            sm.parent_id  parentId,
            sm.name  name,
            sm.component  component,
            sm.icon  icon,
            sm.sort  sort,
            sm.type  type,
            sm.permission  permission
        FROM
            sys_menu  sm
            LEFT JOIN sys_role_menu  srm ON sm.menu_id = srm.menu_id
            LEFT JOIN sys_role  sr ON srm.role_id = sr.role_id
            LEFT JOIN sys_user_role  sur ON sr.role_id = sur.role_id
        WHERE
            sur.user_id = #{userId}
    </select>

    <select id="selectMenuByMenuId" parameterType="java.lang.Integer"
            resultType="com.blog.core.system.menu.vo.MenuVO">
        SELECT
            menu_id  menuId,
            parent_id  parentId,
            name  name,
            component  component,
            component_name  componentName,
            path  path,
            icon  icon,
            sort  sort,
            type  type,
            permission  permission,
            hidden  hidden,
            create_time  createTime,
            i_frame  IFrame,
            cache cache
        FROM
            sys_menu
        WHERE
            menu_id = #{menuId}
    </select>

    <insert id="insertMenu" parameterType="com.blog.core.system.menu.entity.Menu">
         INSERT INTO sys_menu
         (
         parent_id,
         menu_name,
         web_code,
         menu_url,
         icon,
         menu_sort,
         type,
         perms,
         enable,
         create_id,
         create_time,
         is_web)
         VALUES
         (
         #{parentId},
         #{menuName},
         #{webCode},
         #{menuUrl},
         #{icon},
         #{menuSort},
         #{type.value},
         #{perms},
         #{enable.value},
         #{createId},
         #{createTime},
         #{isWeb})
    </insert>

    <update id="updateMenu" parameterType="com.blog.core.system.menu.entity.Menu">
        UPDATE
        sys_menu
        SET
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId},
        </if>
        <if test="menuName != null and menuName != ''">
            menu_name = #{menuName},
        </if>
        <if test="webCode != null and webCode != ''">
            web_code = #{webCode},
        </if>
        <if test="menuUrl != null and menuUrl != ''">
            menu_url = #{menuUrl},
        </if>
        <if test="icon != null and icon != ''">
            icon = #{icon},
        </if>
        <if test="menuSort != null and menuSort != ''">
            menu_sort = #{menuSort},
        </if>
        <if test="type != null">
            type = #{type.value},
        </if>
        <if test="perms != null and perms != ''">
            perms = #{perms},
        </if>
        update_id = #{updateId},
        update_time = #{updateTime}
        WHERE
        menu_id = #{menuId}
    </update>

    <update id="disableMenuByByMenuId" parameterType="java.lang.Integer">
        UPDATE
            sys_menu
        SET
            enable = '0'
        WHERE
            menu_id = #{menuId}
    </update>

    <update id="enableMenuByMenuId" parameterType="java.lang.Integer">
        UPDATE
            sys_menu
        SET
            enable = '1'
        WHERE
            menu_id = #{menuId}
    </update>
</mapper>
