<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.comment.dao.PortalCommentMapper">

    <select id="selectPortalCommentTree" parameterType="java.lang.String"
            resultType="com.blog.core.comment.vo.PortalCommentTree">
        SELECT
            comment_id commentId,
            comment_content commentContent,
            comment_user_id,
            parent_id parentId,
            comment_time commentTime,
            approves,
            CASE WHEN pu.nick_name IS NOT NULL
	        THEN  pu.nick_name
            ELSE  user_name
            END author,
            pu.avatar AS avatarImage
        FROM
            portal_comment pc
            LEFT JOIN portal_user pu ON pc.comment_user_id = pu.user_id
        WHERE
            enable = '1'
        AND
            article_id = #{articleId}
        ORDER BY
            comment_time DESC
    </select>

    <select id="queryCommentById" resultType="com.blog.core.comment.vo.PortalCommentVO">
        SELECT
            comment .id AS id,
            comment .comment_content AS commentContent,
            comment .parent_id AS parentId,
            comment .article_id AS articleId,
            comment .is_parent AS isParent,
            comment .comment_time AS commentTime,
            comment .approves AS approves,
	        CASE WHEN USER .nick_name IS NOT NULL
	        THEN  USER .nick_name
            ELSE  user_name
            END AS author,
            user.avatar AS avatar
        FROM
	        portal_comment AS comment
        LEFT JOIN portal_user AS user ON `comment`.comment_user_id = `user`.id
        WHERE comment.id = #{commentId}
        ORDER BY comment.comment_time desc
    </select>

    <select id="queryCommentByParentId" resultType="com.blog.core.comment.vo.PortalCommentVO">
        SELECT
            comment .id AS id,
            comment .comment_content AS commentContent,
            comment .parent_id AS parentId,
            comment .article_id AS articleId,
            comment .is_parent AS isParent,
            comment .comment_time AS commentTime,
            comment .approves AS approves,
            CASE WHEN USER .nick_name IS NOT NULL
            THEN  USER .nick_name
            ELSE  user_name
            END AS author,
            user.avatar AS avatar
        FROM
            portal_comment AS comment
        LEFT JOIN portal_user AS user ON `comment`.comment_user_id = `user`.id
        WHERE comment.parent_id = #{parentId}
        ORDER BY comment.comment_time desc
    </select>

    <select id="queryCommentByArticleId" resultType="com.blog.core.comment.vo.PortalCommentVO" parameterType="java.lang.String">
        SELECT
            ccomment_id,
            comment_content,
            comment_user_id,
            parent_id,
            comment_time,
            approves
        CASE
            WHEN pu.nick_name IS NOT NULL THEN
            pu.nick_name ELSE user_name
            END author,
            pu.avatar avatar
        FROM
            portal_comment pc
            LEFT JOIN portal_user pu ON pc.comment_user_id = pu.user_id
        WHERE
            pc.article_id = #{articleId}
            AND pc.is_parent = '1'
        ORDER BY
            pc.comment_time DESC
    </select>

    <!--auto generated Code-->
    <insert id="insertPortalComment" useGeneratedKeys="true" keyProperty="id" parameterType="com.blog.core.comment.entity.PortalComment">
        INSERT INTO portal_comment (
            `comment_id`,
            `comment_content`,
            `comment_user_id`,
            `parent_id`,
            `article_id`,
            `is_parent`,
            `comment_time`,
            `is_enable`
        ) VALUES (
            #{commentId},
            #{commentContent},
            #{commentUserId},
            #{parentId},
            #{articleId},
            #{isParent},
            #{commentTime},
            #{isEnable}
        )
    </insert>
</mapper>
