<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.tag.dao.ManageTagMapper">

    <select id="selectManageTagByPage"
        resultType="com.blog.core.tag.vo.ManageTagListVO">
        SELECT
            tag_id tagId,
            tag_name tagName,
            is_enable isEnable,
            create_time createTime
        FROM
            manage_tag
        ORDER BY create_time DESC
    </select>

    <select id="selectManageTagByTagId" parameterType="java.lang.String"
        resultType="com.blog.core.tag.vo.ManageTagVO">
        SELECT
            tag_id tagId,
            tag_name tagName
        FROM
            manage_tag
        WHERE
            tag_id = #{tagId}
            AND is_enable = '1'
        ORDER BY create_time DESC
    </select>

    <insert id="insertManageTag" parameterType="com.blog.core.tag.entity.ManageTag">
        INSERT INTO manage_tag
        (tag_id, tag_name, is_enable, crate_id, create_time)
        VALUES
        (#{tagId}, #{tagName}, #{isEnable.value}, #{crateId}, #{createTime})
    </insert>

    <update id="updateManageTag" parameterType="com.blog.core.tag.entity.ManageTag">
        UPDATE
            manage_tag
        SET
            tag_name = #{tagName},
            update_id = #{updateId},
            update_time = #{updateTime}
        WHERE
            tag_id = #{tagId}
    </update>

    <delete id="deleteManageTagByTagId" parameterType="java.lang.String">
        DELETE FROM manage_tag
        WHERE
            tag_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateEnableManageTagByTagId">
        UPDATE
            manage_tag
        SET
            is_enable = '0'
        WHERE
            tag_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateDisableManageTagByTagId">
        UPDATE
            manage_tag
        SET
            is_enable = '1'
        WHERE
            tag_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <insert id="add" parameterType="com.blog.core.tag.entity.ManageTag">
        INSERT INTO manage_tag
        (tag_id, tag_name, is_enable, crate_id, create_time)
        VALUES
        (#{tagId}, #{tagName}, #{isEnable.value}, #{crateId}, #{createTime})
    </insert>
</mapper>
