<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.user.dao.ManageUserMapper">

    <select id="selectArticleByPage" resultType="com.blog.core.system.user.entity.vo.ManageUserVO">
        SELECT
            *
        FROM
            manage_user
    </select>

    <select id="selectUserByUserId" parameterType="java.lang.String" resultType="com.blog.core.system.user.entity.vo.ManageUserVO">
        SELECT
            *
        FROM
            manage_user
        WHERE
            id = #{userId}
    </select>

    <select id="selectUserByUserName" parameterType="java.lang.String" resultType="com.blog.core.system.user.vo.ManageUserLoginVO">
        SELECT
            id userId,
            user_name userName,
            user_password userPassword,
            salt,
            nick_name nickName,
            avatar,
            telephone,
            email,
            is_enable,
            last_login_ip,
            last_login_time,
            create_time,
            update_time,
            create_id,
            update_id,
            signature,
            comments,
            article_total,
            gender,
            attention_id
        FROM
            manage_user
        WHERE
            user_name = #{userName}
    </select>

    <insert id="insertUser" parameterType="com.blog.core.system.user.entity.domain.ManageUser">

    </insert>

    <update id="updateUser" parameterType="com.blog.core.system.user.entity.domain.ManageUser">

    </update>

    <update id="disableUserByUserId" parameterType="com.blog.core.system.user.entity.domain.ManageUser">

    </update>

    <update id="enableUserByUserId" parameterType="com.blog.core.system.user.entity.domain.ManageUser">

    </update>

</mapper>
