<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.articlecategory.dao.ManageArticleCategoryMapper">

    <select id="selectArticleCategoryByPage" resultType="com.blog.core.articlecategory.entity.vo.ManageCategoryVO">
        SELECT
            id categoryId,
            category_name categoryName,
            sort,
            create_time,
            update_time,
            is_enable
        FROM
          manage_category
    </select>

    <select id="selectArticleCategoryByCategoryId" parameterType="java.lang.String"
                    resultType="com.blog.core.articlecategory.entity.vo.ManageCategoryVO">
        SELECT
            id categoryId,
            category_name categoryName,
            sort,
            create_time,
            update_time,
            is_enable
        FROM
          manage_category
        WHERE
          id = #{categoryId}
    </select>

    <insert id="insertArticleCategory" parameterType="com.blog.core.articlecategory.entity.domain.ManageArticleCategory">
        INSERT
        manage_category
        (id, category_name, sort, create_by, create_time)
        VALUES
        (#{id}, #{categoryName}, #{sort}, #{createId}, #{createTime})
    </insert>

    <update id="updateArticleCategory" parameterType="com.blog.core.articlecategory.entity.domain.ManageArticleCategory">
        UPDATE
          manage_category
        SET
          category_name = #{},
          sort = #{sort},
          update_id = #{updateId},
          update_time = #{updateTime}
        WHERE
          id = #{categoryId}
    </update>
</mapper>
