<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.message.dao.PortalMessageMapper">

    <select id="selectPortalMessageByPage" parameterType="com.blog.core.message.entity.dto.PortalMessageQueryDTO"
            resultType="com.blog.core.message.entity.vo.PortalMessageVO">
        SELECT
            id,
            receive_id,
            receive_time,
            send_id,
            send_time,
            content,
            message_type,
            read_status
        FROM
        im_message
        WHERE
        message_type = #{messageType.value}
    </select>

    <insert id="insertPortalMessage" parameterType="com.blog.core.message.entity.domain.PortalMessage">
        INSERT INTO im_message
        (id, receive_id, receive_time, send_id, send_id, send_time, content, message_type, read_status)
        VALUES
        (#{id}, #{receiveId}, #{receiveTime}, #{sendId}, #{sendTime}, #{content}, #{messageType}, #{readStatus})
    </insert>
</mapper>
