<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.user.dao.ManageUserMapper">

    <select id="queryUserByPage" resultType="com.blog.core.system.user.vo.ManageUserListVO">
        SELECT
            user.user_id userId,
            user.user_name userName,
            user.password password,
            user.nick_name nickName,
            user.avatar avatar,
            user.gender gender,
            user.signature signature,
            user.telephone telephone,
            user.email email,
            user.login_ip loginIp,
            user.last_login_time lastLoginTime,
            user.is_enable isEnable,
            user.create_time createTime,
            u.user_name createName
        FROM
            manage_user user
        LEFT JOIN manage_user u ON user.user_id = u.user_id
    </select>

    <select id="selectUserByUserId" parameterType="java.lang.String" resultType="com.blog.core.system.user.vo.ManageUserDetailVO">
        SELECT
            user_id userId,
            user_name userName,
            password password,
            nick_name nickName,
            avatar avatar,
            gender gender,
            signature signature,
            telephone telephone,
            email email,
            login_ip loginIp,
            last_login_time lastLoginTime
        FROM
            manage_user
        WHERE
            user_id = #{userId}
    </select>

    <select id="selectUserByUserName" parameterType="java.lang.String" resultType="com.blog.core.system.user.vo.ManageUserLoginVO">
        SELECT
            user_id userId,
            user_name userName,
            password password,
            nick_name nickName,
            avatar avatar,
            gender gender,
            signature signature,
            telephone telephone,
            email email,
            login_ip loginIp,
            last_login_time lastLoginTime,
            is_enable isEnable,
            create_time createTime,
            create_id createId
        FROM
            manage_user
        WHERE
            user_name = #{userName}
    </select>

    <insert id="insertManageUser" parameterType="com.blog.core.system.user.entity.ManageUser">
        INSERT INTO manage_user
        (   user_id,
            user_name,
            nick_name,
            gender,
            telephone,
            email,
            is_enable,
            create_time,
            create_id
        )
        VALUES
        (#{userId},
        #{userName},
        #{nickName},
        #{gender},
        #{telephone},
        #{email},
        #{isEnable.value},
        #{createTime},
        #{createId})
    </insert>

    <update id="updateManageUser" parameterType="com.blog.core.system.user.entity.ManageUser">
        UPDATE manage_user
        SET user_name = #{userName},
        nick_name = #{nickName},
        gender = #{gender},
        telephone = #{telephone},
        email = #{email},
        is_enable = #{isEnable},
        update_id = #{updateId},
        update_time = #{updateTime}
        WHERE user_id = #{userId}
    </update>

    <update id="updateManageUserLoginInfo" parameterType="com.blog.core.system.user.entity.ManageUser">
        UPDATE manage_user
        SET
          login_ip = #{lastLoginIp},
          last_login_time = #{lastLoginTime},
          update_id = #{updateId},
          update_time = #{updateTime}
        WHERE user_id = #{userId}
    </update>

    <update id="disableUserByUserId" parameterType="com.blog.core.system.user.entity.ManageUser">

    </update>

    <update id="enableUserByUserId" parameterType="com.blog.core.system.user.entity.ManageUser">

    </update>

</mapper>
