<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.role.dao.ManageRoleMapper">

    <select id="selectManageRoleByPage" resultType="com.blog.core.system.role.vo.ManageRoleListVO">
        SELECT
            role.role_id roleId,
            role.role_name roleName,
            role.role_describe roleDescribe,
            role.role_code roleCode,
            role.enable enable,
            role.create_time createTime,
            USER.user_name createName
        FROM
            manage_role role
            LEFT JOIN manage_user user ON role.create_id = user.user_id
    </select>

    <select id="selectUserRoleByUserId" parameterType="java.lang.Integer"
            resultType="com.blog.core.system.role.vo.ManageRoleInfoVO">
        SELECT
            role.role_id roleId,
            role.role_name roleName,
            role.role_describe roleDescribe,
            role.role_code roleCode,
            role.enable enable,
            role.create_time createTime
        FROM
            manage_role role
            LEFT JOIN manage_user_role ur ON role.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <select id="selectRoleInfoByUserId" parameterType="java.lang.Integer"
                    resultType="com.blog.core.system.role.vo.ManageRoleInfoVO">
        SELECT
            m.permission permission,
            r.role_code rolePermission
        FROM
            manage_menu m
            LEFT JOIN manage_role_menu rm ON m.menu_id = rm.menu_id
            LEFT JOIN manage_role r ON rm.role_id = r.role_id
            LEFT JOIN manage_user_role ur ON r.role_id = ur.role_id
        WHERE
            m.permission IS NOT NULL
            AND ur.user_id = #{userId}
    </select>
</mapper>
