<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.core.system.dict.dao.ManageDictDataMapper">

    <select id="selectManageDictDataDetails" parameterType="java.lang.Integer" resultType="com.blog.core.system.dict.vo.ManageDictDataVO">
        SELECT
            dict_data_id dictDataId,
            dict_id dictId,
            name,
            value,
            sort,
            create_id createName,
            create_time createDate
        FROM
            sys_dict_data
        WHERE
            dict_id = #{dictId}
        ORDER BY sort DESC
    </select>

    <select id="selectManageDictDataByFieldType" parameterType="java.lang.String" resultType="com.blog.core.system.dict.vo.ManageDictDataVO">
        SELECT
            sdd.dict_data_id dictDataId,
            sdd.dict_id dictId,
            sdd.name,
            sdd.value,
            sdd.sort
        FROM
            sys_dict sd
            LEFT JOIN sys_dict_data sdd ON sd.dict_id = sdd.dict_id
        WHERE
            sd.field_type = #{fieldType}
        ORDER BY sdd.sort DESC
    </select>

    <delete id="deleteManageDictData" parameterType="java.lang.Integer">
        DELETE FROM sys_dict_data WHERE dict_data_id = #{dictDataId}
    </delete>
</mapper>
